<header>
	<nav class="navbar navbar-expand-lg container">
		<a class="navbar-brand" href="/">
			<h1>Small Project</h1>
		</a>

		<button class="navbar-toggler" data-bas-toggle="collape" data-bs-target="navbarNav">
			<span class="navbar-toggler-icon">
				Open
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>

				<a class="nav-item nav-link" href="/about">About</a>
			</div>
		</div>
	</nav>
</header>