<%- include('../partials/start') %>

	<main>
		<%- include('../partials/header') %>
		
		<section>
				<div class="container py-5">
					<h1> This is the About Page</h1>

					<ul>
						<% facts.forEach(function(fact) { %>
							<li><%= fact %></li>
						<% }); %>
					</ul>
				</div>
		</section>
	</main>

<%- include('../partials/end') %>