<%- include('../partials/start') %>

	<main>
		<%- include('../partials/header') %>
		
		<section>
				<div class="container py-5">
					<h1>Thanks! We'll be in touch soon.</h1>
				</div>
		</section>
	</main>

<%- include('../partials/end') %>
